Repository mackeh/PipelineX: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, pipelinex-analyze, pipelinex-critical-check

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --all
  language: system
  pass_filenames: false
  stages:
  - push

pipelinex-analyze:
  name: PipelineX Pipeline Analysis
  entry: bash -c 'cargo build --release --quiet && ./target/release/pipelinex analyze .github/workflows/ci.yml'
  language: system
  pass_filenames: false

pipelinex-critical-check:
  name: PipelineX Critical Issues Check
  ...

docs: Add comprehensive integration summary
  docs/INTEGRATION_SUMMARY.md
Due: none

Phase 4: GitHub API integration for historical run data
  Cargo.toml
  crates/pipelinex-cli/Cargo.toml
  crates/pipelinex-cli/src/display.rs
  crates/pipelinex-cli/src/main.rs
  crates/pipelinex-core/Cargo.toml
  crates/pipelinex-core/src/lib.rs
  crates/pipelinex-core/src/providers/github_api.rs
  crates/pipelinex-core/src/providers/mod.rs
  docs/GITHUB_API.md
Due: cargo-fmt, cargo-clippy, cargo-test

docs: Remove Success Stories section from README
  README.md
Due: none

feat: Add Pipeline Health Score system
  README.md
  crates/pipelinex-cli/src/display.rs
  crates/pipelinex-core/src/analyzer/mod.rs
  crates/pipelinex-core/src/analyzer/report.rs
  crates/pipelinex-core/src/health_score.rs
  crates/pipelinex-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: Resolve all clippy warnings for CI compliance
  crates/pipelinex-cli/src/display.rs
  crates/pipelinex-cli/src/main.rs
  crates/pipelinex-core/src/analyzer/cache_detector.rs
  crates/pipelinex-core/src/analyzer/html_report.rs
  crates/pipelinex-core/src/analyzer/parallel_finder.rs
  crates/pipelinex-core/src/analyzer/report.rs
  crates/pipelinex-core/src/analyzer/waste_detector.rs
  crates/pipelinex-core/src/flaky_detector.rs
  crates/pipelinex-core/src/graph/mod.rs
  crates/pipelinex-core/src/health_score.rs
  crates/pipelinex-core/src/optimizer/cache_gen.rs
  crates/pipelinex-core/src/optimizer/docker_opt.rs
  crates/pipelinex-core/src/optimizer/parallel_gen.rs
  crates/pipelinex-core/src/parser/gitlab.rs
  crates/pipelinex-core/src/parser/jenkins.rs
  crates/pipelinex-core/src/providers/github_api.rs
  crates/pipelinex-core/src/test_selector.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: Final CI fixes - formatting and needless borrow
  crates/pipelinex-cli/src/display.rs
  crates/pipelinex-cli/src/main.rs
  crates/pipelinex-core/src/analyzer/cache_detector.rs
  crates/pipelinex-core/src/analyzer/critical_path.rs
  crates/pipelinex-core/src/analyzer/html_report.rs
  crates/pipelinex-core/src/analyzer/mod.rs
  crates/pipelinex-core/src/analyzer/parallel_finder.rs
  crates/pipelinex-core/src/analyzer/report.rs
  crates/pipelinex-core/src/analyzer/sarif.rs
  crates/pipelinex-core/src/analyzer/waste_detector.rs
  crates/pipelinex-core/src/flaky_detector.rs
  crates/pipelinex-core/src/graph/mod.rs
  crates/pipelinex-core/src/health_score.rs
  crates/pipelinex-core/src/lib.rs
  crates/pipelinex-core/src/optimizer/cache_gen.rs
  crates/pipelinex-core/src/optimizer/docker_opt.rs
  crates/pipelinex-core/src/optimizer/mod.rs
  crates/pipelinex-core/src/optimizer/parallel_gen.rs
  crates/pipelinex-core/src/optimizer/shard_gen.rs
  crates/pipelinex-core/src/parser/bitbucket.rs
  crates/pipelinex-core/src/parser/circleci.rs
  crates/pipelinex-core/src/parser/dag.rs
  crates/pipelinex-core/src/parser/github.rs
  crates/pipelinex-core/src/parser/gitlab.rs
  crates/pipelinex-core/src/parser/jenkins.rs
  crates/pipelinex-core/src/parser/mod.rs
  crates/pipelinex-core/src/providers/github_api.rs
  crates/pipelinex-core/src/simulator/mod.rs
  crates/pipelinex-core/src/test_selector.rs
  crates/pipelinex-core/tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: Replace vec! with array in test (clippy::useless_vec)
  crates/pipelinex-core/src/test_selector.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: Replace remaining vec! with arrays in tests
  crates/pipelinex-core/src/test_selector.rs
Due: cargo-fmt, cargo-clippy, cargo-test

release: Prepare v1.0.0 release
  CHANGELOG.md
  Cargo.toml
  PUBLISHING.md
  RELEASE_NOTES.md
  examples/real-world/README.md
  examples/real-world/after-node-app.yml
  examples/real-world/before-node-app.yml
Due: none

docs: Add release checklist
  RELEASE_CHECKLIST.md
Due: none

fix: Add Cargo.lock for reproducible builds
  .gitignore
  Cargo.lock
Due: none

chore: Ignore release artifacts in gitignore
  .gitignore
Due: none

fix: Update Dockerfile to Rust 1.93 for Cargo.lock v4 support
  Dockerfile
Due: none

fix: Only build Docker images on release tags
  .github/workflows/docker.yml
Due: pipelinex-analyze, pipelinex-critical-check

docs: add implementation verification report for v1.0.0
  IMPLEMENTATION_VERIFICATION.md
Due: none

feat: add PipelineX dashboard scaffold and docs updates
  README.md
  assets/dashboard-preview.png
  dashboard/.gitignore
  dashboard/README.md
  dashboard/app/favicon.ico
  dashboard/app/globals.css
  dashboard/app/layout.tsx
  dashboard/app/page.tsx
  dashboard/eslint.config.mjs
  dashboard/next.config.ts
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/postcss.config.mjs
  dashboard/public/file.svg
  dashboard/public/globe.svg
  dashboard/public/next.svg
  dashboard/public/vercel.svg
  dashboard/public/window.svg
  dashboard/tsconfig.json
Due: none

feat(dashboard): add workflow discovery and analysis API routes
  dashboard/app/api/analyze/route.ts
  dashboard/app/api/workflows/route.ts
  dashboard/lib/pipelinex.ts
Due: none

feat(dashboard): render live pipeline analysis with real metrics
  dashboard/app/globals.css
  dashboard/app/layout.tsx
  dashboard/app/page.tsx
Due: none

docs(dashboard): document live analysis flow and phase status
  README.md
  dashboard/README.md
Due: none

fix(history): keep JSON output clean for automation consumers
  crates/pipelinex-cli/src/main.rs
  crates/pipelinex-core/src/providers/github_api.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(dashboard): ingest GitHub webhooks and auto-refresh history cache
  dashboard/README.md
  dashboard/app/api/github/webhook/route.ts
  dashboard/app/api/history/route.ts
  dashboard/app/page.tsx
  dashboard/lib/pipelinex.ts
Due: none

feat(phase4): add anonymized benchmark registry and stats APIs
  dashboard/app/api/benchmarks/stats/route.ts
  dashboard/app/api/benchmarks/submit/route.ts
  dashboard/lib/pipelinex.ts
Due: none

feat(phase4): compare analysis against community benchmark cohorts
  dashboard/app/page.tsx
Due: none

docs(phase4): document benchmark registry and update project status
  README.md
  dashboard/README.md
Due: none

feat(parser): add Azure Pipelines and AWS CodePipeline support
  crates/pipelinex-cli/src/main.rs
  crates/pipelinex-core/src/lib.rs
  crates/pipelinex-core/src/parser/aws_codepipeline.rs
  crates/pipelinex-core/src/parser/azure.rs
  crates/pipelinex-core/src/parser/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test(parser): add Azure and CodePipeline fixtures with integration coverage
  crates/pipelinex-core/tests/integration_tests.rs
  tests/fixtures/aws-codepipeline/codepipeline.json
  tests/fixtures/azure-pipelines/azure-stages-jobs.yml
Due: cargo-fmt, cargo-clippy, cargo-test

docs(parser): mark Azure and AWS CodePipeline as supported
  README.md
  docs/QUICKSTART.md
Due: none

feat(api): add authenticated public benchmark endpoints
  dashboard/app/api/public/v1/auth/me/route.ts
  dashboard/app/api/public/v1/benchmarks/stats/route.ts
  dashboard/app/api/public/v1/benchmarks/submit/route.ts
  dashboard/lib/public-api.ts
Due: none

feat(parser): add Buildkite pipeline parser support
  crates/pipelinex-cli/src/main.rs
  crates/pipelinex-core/src/lib.rs
  crates/pipelinex-core/src/parser/buildkite.rs
  crates/pipelinex-core/src/parser/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test(parser): add Buildkite fixture and integration tests
  crates/pipelinex-core/tests/integration_tests.rs
  tests/fixtures/buildkite/pipeline.yml
Due: cargo-fmt, cargo-clippy, cargo-test

docs(parser): include Buildkite in supported CI platforms
  README.md
  docs/QUICKSTART.md
Due: none

feat(api): harden public auth with key rotation, persistent rate limits, and audit logs
  dashboard/app/api/public/v1/auth/me/route.ts
  dashboard/app/api/public/v1/benchmarks/stats/route.ts
  dashboard/app/api/public/v1/benchmarks/submit/route.ts
  dashboard/lib/public-api.ts
Due: none

feat(plugins): scaffold external analyzer and optimizer plugin system
  crates/pipelinex-cli/src/main.rs
  crates/pipelinex-core/src/analyzer/mod.rs
  crates/pipelinex-core/src/analyzer/report.rs
  crates/pipelinex-core/src/lib.rs
  crates/pipelinex-core/src/plugins/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs(phase4): document plugin scaffold and hardened public API
  README.md
  dashboard/README.md
  docs/PLUGINS.md
Due: none

feat(dashboard): add public API RBAC and audit log query endpoint
  dashboard/app/api/public/v1/audit/logs/route.ts
  dashboard/app/api/public/v1/auth/me/route.ts
  dashboard/lib/public-api.ts
Due: none

feat(dashboard): add enterprise SSO exchange and session auth
  dashboard/app/api/enterprise/v1/auth/me/route.ts
  dashboard/app/api/enterprise/v1/sso/exchange/route.ts
  dashboard/lib/enterprise-auth.ts
  dashboard/lib/public-api.ts
Due: none

docs(dashboard): document RBAC, audit query, and enterprise SSO APIs
  dashboard/README.md
Due: none

docs(roadmap): mark phase 4 enterprise and plugin progress
  README.md
  pipelinex-project.md
Due: none

feat(dashboard): allow explicit repo root for self-hosted runtime
  dashboard/lib/pipelinex.ts
Due: none

feat(deploy): add self-hosted dashboard docker image and compose stack
  .dockerignore
  dashboard/Dockerfile
  docker-compose.selfhost.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  pipelinex-analyze: any of: \.github/workflows/.*\.ya?ml$
  pipelinex-critical-check: any of: \.github/workflows/.*\.ya?ml$
